.img {
    height: 50px;
    width: 50px;
  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1.2rem;
    margin-left: auto;
  }
  
  .quantity {
    font-size: 1.2rem;
    margin-left: 1rem;
  }